<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Projet Démo</h1>
    <div>
        @RenderBody()
    </div>
    <p>Footer</p>
</body>
</html>
